---
---

@import "{{ site.theme }}";

body ul {padding-left: 2em;}
code { padding: .2em .4em; background-color: rgba(27,31,35,.05); border-radius: 3px; box-shadow: none;}
pre code { background-color: #f8f8f8}
p {color: #24292e; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; font-size: 16px; line-height: 1.5;}


aside#sidebar {background: transparent url(../images/sidebar-bg.jpg) 205px 0 no-repeat; float: left;}

.copyright {display:none;}
.inner { max-width: 1200px; }
.nav-link {font-size: 16px; line-height: 1.6;}
#header_wrap .inner {padding-top: 40px;}
#main_content_wrap { background: #fff; padding-bottom: 50px;}
#main_content { float: right; padding-top: 32px; }
#project_tagline{font-size: 22px; padding-bottom: 0px; margin-top: 0px;}

