---
---

@import "{{ site.theme }}";

body ul {padding-left: 2em;}
code { padding: .2em .4em; background-color: rgba(27,31,35,.05); border-radius: 3px; box-shadow: none;}
p {color: #24292e; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; font-size: 16px; line-height: 1.5;}

.inner { max-width: 800px; }
#header_wrap .inner {padding-bottom: 40px;}
#main_content_wrap { background: #fff; padding-top: 40px;}
#project_tagline{font-size: 22px; padding-bottom: 0px; margin-top: 0px;}

